.profile{
    text-align: center;
    background: url("../IMAGENES/Fondo.png") no-repeat;
}

.profile-banner {
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    background-color: rgba(47, 48, 58, 0.9);
    color: var(--text-color-inverse);
    font-size: 20px;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 0 0  10px 2px var(--background-description-color);
}

.profile-banner h1{
    font-family: 'Open Sans - bold', sans-serif;
    font-size: 50px;
    margin-top: -2%;
    margin-bottom: 1%;
}

.profile-contenido{
    max-width: 980px;
    margin: 0 auto;
}

.profile-contenido p{
    max-width: 980px;
    width: 80%;
    margin: 0 auto;
}

.profile-link{
    color: var(--menu-color);
    font-weight: 500; 
}

.banner-redes a{
    padding: 0 10px;
    font-size: 45px;
    margin-bottom: 3%;
    color: var(--text-color-inverse);
}

.banner-line{
    background-color: var(--theme-color);
    height: 0.5px;
    width: 250px;
    min-width: 250px;
    margin: 2% auto;
}

.profile-flecha i{
    color: var(--text-color-inverse);
    font-size: 50px;
    margin-top: 15%;
    margin-bottom: 5%;
}

.profile-link:hover,
.banner-redes a:hover,
.profile-flecha i:hover{
    color: var(--hover-color);
    transition: color 0.3s;
}


/* VISTA DE MOBILE */
@media (max-width: 950px){       
    .profile-banner {
        width: 80%;
        font-size: 15px;
    }
    
    .profile-banner h1{
        font-size: 40px;
    }
    
    .banner-redes a{
        font-size: 35px;
        margin-bottom: 4%;
    }
    
    .profile-flecha i{
        opacity: 0;
        pointer-events: none;
    }
}